@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.4);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-resizer {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#051e38), to(#6e6e6e));
  background: linear-gradient(#051e38, #6e6e6e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 639px) {
  .container {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 400px;
  }
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.weather-window {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  overflow: hidden;
  padding: 30px 0;
  -webkit-box-shadow: 0px 0px 5px 5px #ffffff50;
          box-shadow: 0px 0px 5px 5px #ffffff50;
  text-align: center;
}

.weather-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-search .search-input {
  width: 80%;
  position: relative;
}

.weather-search .search-input .match-list {
  position: absolute;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 60px;
  left: 30px;
  width: 200px;
  max-height: 200px;
  border-radius: 0 0 5px 5px;
  background: rgba(255, 255, 255, 0.5);
}

.weather-search .search-input .match-list .match {
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.weather-search .search-input .match-list .match:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
}

.weather-search .search-input .match-list .match:last-child {
  border: none;
}

.weather-search .search-input input {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  border-radius: 100px;
}

.weather-search .search-input input[type="text"] {
  padding-left: 1.2em;
  font-size: 1.5em;
}

.weather-search .search-input .search-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: white;
}

.weather-search .search-input .search-btn::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ffffff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 2s infinite;
          animation: ring 2s infinite;
}

.current-forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.current-forecast .current-city {
  font-size: 6em;
}

@media only screen and (max-width: 1200px) {
  .current-forecast .current-city {
    font-size: 5em;
  }
}

@media only screen and (max-width: 1024px) {
  .current-forecast .current-city {
    font-size: 4em;
  }
}

@media only screen and (max-width: 800px) {
  .current-forecast .current-city {
    font-size: 3em;
  }
}

.current-forecast .current-temp {
  font-size: 5em;
}

@media only screen and (max-width: 1200px) {
  .current-forecast .current-temp {
    font-size: 5em;
  }
}

@media only screen and (max-width: 1024px) {
  .current-forecast .current-temp {
    font-size: 4em;
  }
}

@media only screen and (max-width: 800px) {
  .current-forecast .current-temp {
    font-size: 3em;
  }
}

@media only screen and (max-width: 639px) {
  .current-forecast .current-temp {
    font-size: 2.5em;
  }
}

.current-forecast .current-description {
  font-size: 3em;
}

.current-forecast .current-icon img {
  width: 13em;
  height: 13em;
}

.daily-forecast {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}

.daily-forecast .daily-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  height: 250px;
  width: 200px;
  cursor: pointer;
}

.daily-forecast .daily-card:last-child {
  border: none;
}

.daily-forecast .daily-card .daily-day {
  font-size: 1.5em;
}

.daily-forecast .daily-card .daily-icon img {
  width: 10em;
  height: 10em;
}

.daily-forecast .daily-card .daily-temp {
  font-size: 3em;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup.opened {
  opacity: 1;
  visibility: visible;
}

.popup-close-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup-content {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#051e38), to(#6e6e6e));
  background: linear-gradient(#051e38 0%, #6e6e6e 100%);
  color: black;
  max-width: 700px;
  min-width: 400px;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 1px #6e6e6e;
          box-shadow: 0 0 50px 1px #6e6e6e;
  color: white;
}

.popup-content.opened {
  -webkit-animation: zoom 0.2s linear;
          animation: zoom 0.2s linear;
}

.popup-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-temp h1 {
  font-size: 3em;
}

.popup-temp img {
  width: 10em;
  height: 10em;
}

.popup-other-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.popup-other-info .wind-speed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.popup-other-info .humidity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.popup-other-info .pressure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.popup-hourly {
  width: 100%;
  margin-top: 30px;
}

.popup-hourly .hourly-line {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.popup-hourly .hourly-line .one-hour {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  height: 110px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.popup-hourly .hourly-line .one-hour:last-child {
  border: none;
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform: rotate3d(0, 0, 90px);
            transform: rotate3d(0, 0, 90px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform: rotate3d(0, 0, 90px);
            transform: rotate3d(0, 0, 90px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0);
  }
}

@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}
